@import '../../App.scss';

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include sidePadding;
    color: white;
    background-color: #000000;
    padding-top: 1%;
    padding-bottom: 1%;
    .contactWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        h3{
            @include logoFont;
            font-size: 2.5vw;
        }
        a{
            color: white; 
            font-family: 'Trebuchet MS', sans-serif;
        }
    }
    .mediaWrapper{
        display: flex;
        justify-content: end;
        svg{
            width: 5vw;
            height: 5vh;
        }
    }
}



//BREAKPOINTS
$tablet: 980px;
$mobile: 580px;

@media screen and (max-width: $tablet) {
  body{
    footer{
        display: grid;
        grid-template-columns: 2fr 1fr;
        .contactWrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            h3{
                font-size: 3vw;
            }
        }
    }   
  }
}
@media screen and (max-width: $mobile){
    body{
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .contactWrapper{
            display: grid;
            grid-template-columns: 1fr;
            h3{
                font-size: 4.5vw;
            }
        }
    }  
    }
}