@import '../../App.scss';
header {
    position: relative;
    height: 10vh;
    padding-top: 2%;
    @include logoFont;
    margin-bottom: 5%;
    z-index: 4;
    .topNav {
        @media (width < 1199px) {
            display: none;
        }
    }
    .headerImageWrapper {
        img {
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }
    .headerWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include sidePadding;
        margin-top: -3%;
        .navWrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            ul {
                li {
                    display: inline-block;
                    padding-left: 5%;
                    a {
                        color: white;
                        font-size: 2vw;

                        &.active {
                            color: #AF7627;
                        }
                    }
                }
            }
        }
    }
}
