
@import '../../App.scss';

header{
    @include logoFont;
    position: relative;
    margin-bottom: 5%;
    .svgWrapper{
        svg{
            position: absolute;
            z-index: -1;
        }
    }
    .headerWrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include sidePadding;
        .navWrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            nav{
                ul{
                    li{
                        display: inline-block;
                        padding-left: 5%;
                        a{
                            color: white;
                            font-size: 2vw;
                            &.active{
                                color: #AF7627;
                            }
                        }
                    }
                }
            }
        }
    }
}