.logoWrapper{
    background-color: #AF7627;
    border: black 1px solid;
    padding: 1%;
    margin-top: 2%;
    width: 35%;
    h1{
        font-size: 4vw;
        text-align: center;
        color: white;
    }
}