@import '../../App.scss';
.commentsWrapper{
    background-color: #FED9C9;
    text-align: center;
    padding: 2%;
    article{
        @include sidePadding;
        h5{
            padding-bottom: 2%;
        }
        p{
            padding-bottom: 2%;
        }
    }
}
.submitComment{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    a{
        padding-top: 2%;
        font-style: italic;
        color: #000000;
        text-decoration: underline;
    }
}


//BREAKPOINTS
$tablet: 980px;

@media screen and (max-width: $tablet) {
  body{
    .commentsWrapper{
        padding: 1%;
        article{
            @include sidePadding;
            h5{
                padding-bottom: 1%;
            }
            p{
                padding-bottom: 1%;
            }
        }
    }   
  }
}
