//Overskrift & brødtekst
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
*{
    padding: 0;
    margin: auto 0;
    text-decoration: none;
}
main{
    //laver linjeskift efter linjeskift i backend
    white-space: pre-wrap;
    font-family: 'Trebuchet MS', sans-serif;

}
@mixin sidePadding{
    padding-left: 7%;
    padding-right: 7%;
}
@mixin logoFont{
    font-family: 'Odibee Sans', cursive;
}
@mixin heading {
    h1{
        @include sidePadding;
        padding-bottom: 2%;
    }
    h2{

    }
    h3{

    }
    h4{
        font-size: 2vw;
    }
    h5{
        font-size: 1.7vw;
    }
    
}
