//Overskrift & brødtekst
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
*{
    padding: 0;
    margin: auto 0;
    text-decoration: none;
}
main{
    //laver linjeskift efter linjeskift i backend
    white-space: pre-wrap;
    font-family: 'Trebuchet MS', sans-serif;
    min-height: 69.2vh;

}
@mixin sidePadding{
    padding-left: 7%;
    padding-right: 7%;
}
@mixin logoFont{
    font-family: 'Odibee Sans', cursive;
}
@mixin heading {
    h1{
        @include sidePadding;
        padding-bottom: 2%;
    }
    
}


//BREAKPOINTS
$tablet: 980px;


@media screen and (max-width: $tablet) {
  body{
    main{
        min-height: 76vh;    
    }
  }
}