//Overskrift & brødtekst
// font-family: 'Trebuchet MS', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
*{
    padding: 0;
    margin: auto 0;
    text-decoration: none;
}
@mixin sidePadding{
    padding-left: 7%;
    padding-right: 7%;
}
@mixin logoFont{
    font-family: 'Odibee Sans', cursive;
}
